@keyframes mi-animacion {
    0% {
        background-color: red;
    }
    50% {
        background-color: white;
    }
    100% {
        background-color: blue;
    }
}

body, html {
    height: 100%;
}

div.container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 50px;
    position: relative;
    top: 50%;
    margin: auto;
    background-color: orange;
    border: solid red 5px;
    text-align: center;
    padding: 5px;
    -moz-user-select: none;
    user-select: none;
    box-shadow:  0 0 5px 2px #007ACC;
}

/* div {
    background-color: orange;
    border: solid 2px red;
    width: 50%;
    margin: auto;
    transition: 0.5s;
    position: relative;
    top: 50%;
} */

/* div.tooltip {
    background-color: grey;
    border: solid 1px;
    
    position: absolute;
    opacity: 0;
    display: inline-block;
    top: 170%;
    left: 0;
    width: 100%;
    transition: 0.3s;
}

.tooltip::before {
    position: absolute;
    bottom: 105%;
    left: 50%;
    margin-left: -10px;

    content: "";
    border-style: solid;
    border-color: black transparent black transparent;
    border-width: 10px; 
}

.container:hover > .tooltip {
    opacity: 1;
} */

.image-container {
    width: 100px;
    height: 100px;
    border: solid 2px red;
    position: relative;
    top: 50%;
    margin: auto;
}

.image-container > img {
    width: 100%;
    height: auto;
}

.desplegable {
    position: absolute;
    right: 0;
    background-color: blue;
    width: 0;

    transition: 0.5s;
    height: 100%;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    
}

.image-container:hover > .desplegable {
    width: 100%;
}