/* @font-face {
    font-family: roboto;
    src: url('./src/font/Roboto-Thin.ttf');
}

@font-face {
    font-family: roboto;
    src: url('./src/font/Roboto-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: roboto;
    src: url('./src/font/Roboto-Italic.ttf');
    font-style: italic
} */

div {
    font-family: Roboto;
    border: solid red 2px;
    font-weight: 200;
    font-size: 40px;
}
